doctype html
html(lang='en')
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no")
    title Mini Xhr Demo
    base(href="./")

    style.
      * {
        margin: 0;
        padding: 0;
      }

      #text-show {
        margin: 20px auto;
        width: 300px;
        height: 100px;
        line-height: 100px;
        background-color: #eee;
        text-align: center;
      }

      #test {
        display: block;
        width: 60px;
        padding: 10px;
        margin: 0 auto;
        border: 1px solid #666;
        text-align: center;
      }

  body
    #text-show
    a#test TEST

    //- webpack script
    each _js in htmlWebpackPlugin.files.js
      script(src=_js)

    script.
      document.getElementById('test').addEventListener('click', function () {
        console.log('get');

        miniXhr('/getData', {
          dataType: 'json',
          data: {
            test: 'test1'
          }
        })
          .then(function (msg) {
            document.getElementById('text-show').textContent = msg.data;
          })
      });


